// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #007bff;
$indigo: #7460EE;
$purple: #9561e2;
$pink: #f66D9b;
$red: #FC4B6C;
$orange: #f6993f;
$yellow: #FFB22B;
$green: #34cc7d;
$dim-green:#09a370d5;
$dark-green: #28925c;
$super-dark-green: #005845;
$light-bgGreen: #c5dbcf;
$scroll: #30b187;
$teal: #4dc0b5;
$cyan: #26C6DA;
$black: #000;
$white: #fff;
$gray: #aaaaaa;
$dim-white: #ced4da;
$sum-bg: #f0f0f0;
$light-green: #ABEBC6;
$dark-gray: #474747;
$thead: #383b50;
$thead1: #383b5015;


//Interview Form
$card-border: #ABEBC6 2px solid;
$font-style: 'Raleway',sans-serif;
$header-background: linear-gradient(141deg, #11998e, #38ef7d);
$form-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.075) inset;


// checkbox
$box-hover: #bdbdbd;
$box-bg: #D7DCDE;
$box-default: #1ABC9C;
